
/* ********************
* ELEMENT SETTINGS
******************** */

/* Montserrat font family default for the whole page (https://fonts.googleapis.com) */
body{
    font-family: "Montserrat";
    padding-top: 2rem;
}

address{
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}

/* ********************
* CLASS SETTINGS
******************** */

/* Globalsetting for section titles */
.section-title{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.5rem auto 1.5rem;
}

.browart-section{
    padding: 3.5rem 2rem 1rem;
}

/* Navbar section */
.navbar{
    background-color: #725c89;
    padding: 0.5rem 2rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
}

/* Image section */

.gallery-header{
    font-size: 1.5rem;
}

.gallery-main{
    margin: 1.5rem auto 1.5rem;
}

.eyebrow-gallery-item{
    margin-bottom: 0.5rem;
}

.modal-header{
    background-color: #111111;
}

.close{
    color: #fff;
}

.close:hover{
    color: #fff;
}

.modal-body{
    background-color: #111111;
}

/* .modal-dialog{
    max-width: 100%;
    min-height: 100%;
} */



.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}

.img-modal{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px){
    .img-modal{
        max-height: 95vh;
        width: auto;
    }
}

/* Carousel section */


.carousel-testimonial{
    height: 10rem;
}

@media (max-width: 1000px){
    .carousel-testimonial{
        height: 16rem;
    }
}

.carousel-control-prev{
    width: 5%;
}

.carousel-control-next{
    width: 5%;
}

.star{
    color: yellow;
}

.testimonial-text{
    font-size: 1rem;
    text-align: center;
    /* padding-left: 2rem;
    padding-right: 1rem; */
}

/* FAQ section */

/* .faq-card{
    padding-bottom: 0;
} */

.faq_question{
    font-size: 1.2rem;
    font-weight: 700;
}

faq-card-header{
    padding-bottom: 0;
}

.faq-card-body{
    padding: 0 1.25rem 0;
}

.faq-answer{
    margin: 0.5rem 0;
}

/* Price section */

.price-card{
    padding-bottom: 1.5rem;
}

.price-header{
    font-size: 1.2rem;
    font-weight: 700;
}

.special-price{
    color: tomato;
}

.alignright{
    float: right;
    margin-right: 5px;
}

.card-footer{
    text-align: center;
}

.address-icon{
    float: left;
}

/* Address section */

.address-body{
    padding: 2rem 4rem;
}

.address-icon{
    color:#000;
}

.address-icon:hover{
    color: #725c89;
    text-decoration: none;
}

.browart-link{
    color:#000;
}

.browart-link:hover{
    color: #725c89;
    text-decoration: none;
}

/* Footer section */

.social-icon{
    color:#fff;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.social-icon:hover{
    color: #725c89;
    text-decoration: none;
}


/* ********************
* ID SETTINGS
******************** */

#testimonials{
    padding-top: 2rem;
    text-align: center;
    background-color: #424242;
    color: #fff;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    }

#address-title{
    padding-bottom: 1rem;
}

#footer{
    text-align: center;
    color:#fff;
    background-color: #111111;
}

#footer-title{
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem 0rem 1rem;
}

#copyright{
    color: #bbbbbb;
    font-size: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}